/* ========== COTIZACION CSS ========== */

.cotizacion-title p {
  color: #fca728;
  font-size: 20px;
  text-align: left;
  margin-top: 20px;
}

.nota {
  padding: 15px 5px 15px 25px;
}

.beneficios {
  border-radius: 30px;
  width: 500px;
  text-align: center;
}

.titulo-jumbo {
  color: #fca728;
  text-align: center;
  margin-top: 15px;
}

.beneficios-jumbo {
  color: whitesmoke;
  text-align: center;
  font-size: 12px;
}

/* ========== RESPONSIVE COTIZACION ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .cotizacion-title h1 {
    padding-top: 20px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .cotizacion-title h1 {
    padding-top: 20px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .cotizacion-title h1 {
    padding-top: 20px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cotizacion-title h1 {
    padding-top: 20px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .cotizacion-title h1 {
    padding-top: 20px;
  }
}
