/* ========== SOMOS CSS ========== */

.somos-title h1 {
  color: #fca728;
  font-weight: 700;
  text-align: right;
}

.somos-banner {
  background-color: #fca728;
  width: 100%;
  text-align: center;
}

.somos-banner h3 {
  color: #fff;
}

/* ========== RESPONSIVE HOME ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .somos-title h1 {
    font-size: 40px;
    padding-top: 30px;
  }
  .somos-texto {
    font-size: 13px;
    padding-top: 30px;
  }
  .somos-banner {
    margin-top: 50px;
  }
  .somos-banner h3 {
    margin: 30px 0px 25px 0px;
    font-size: 18px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .somos-title h1 {
    font-size: 50px;
    padding-top: 50px;
  }
  .somos-texto {
    font-size: 18px;
    padding-top: 80px;
  }
  .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 40px 0px 40px 0px;
    font-size: 22px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .somos-title h1 {
    font-size: 60px;
    padding-top: 50px;
  }
  .somos-texto {
    font-size: 20px;
    padding-top: 80px;
  }
  .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 50px 0px 50px 0px;
    font-size: 28px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .somos-title h1 {
    font-size: 60px;
    padding-top: 50px;
  }
  .somos-texto {
    font-size: 22px;
    padding-top: 80px;
  }
  .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 50px 0px 50px 0px;
    font-size: 30px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .somos-title h1 {
    font-size: 60px;
    padding-top: 50px;
  }
  .somos-texto {
    font-size: 22px;
    padding-top: 80px;
  }
  .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 50px 0px 50px 0px;
    font-size: 30px;
  }
}
