/* *************************************** */
/* ===== SOMOS ===== */
.somos-contenido h2 {
  text-align: center;
  margin-bottom: 40px;
}
.somos-texto {
  text-align: justify;
  margin-bottom: 40px;
}

/* ========== RESPONSIVE SOMOS ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .somos-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  .somos-contenido h2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .somos-texto {
    font-size: 13px;
    padding-top: 20px;
  }

  /* .somos-banner {
    margin-top: 50px;
  }
  .somos-banner h3 {
    margin: 30px 0px 25px 0px;
    font-size: 18px;
  } */
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .somos-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
  }
  .somos-contenido h2 {
    font-size: 30px;
  }
  .somos-texto {
    font-size: 18px;
    padding-top: 80px;
  }

  /* .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 40px 0px 40px 0px;
    font-size: 22px;
  } */
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .somos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .somos-contenido h2 {
    font-size: 35px;
  }
  .somos-texto {
    font-size: 20px;
    padding-top: 80px;
  }

  /* .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 50px 0px 50px 0px;
    font-size: 28px;
  } */
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .somos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .somos-contenido h2 {
    font-size: 40px;
  }
  .somos-texto {
    font-size: 20px;
    padding-top: 80px;
  }

  /* .somos-banner {
    margin-top: 100px;
  }
  .somos-banner h3 {
    margin: 50px 0px 50px 0px;
    font-size: 30px;
  } */
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .somos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .somos-texto h2 {
    font-size: 50px;
    color: #5f5959;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .somos-texto {
    font-size: 20px;
    padding-top: 80px;
  }
  /* .somos-texto h4 {
    color: #fca728;
  } */

  /* .somos-banner {
    margin-top: 100px;
  } */
  /* .somos-banner h3 {
    margin: 50px 0px 50px 0px;
    font-size: 35px;
  } */
}
