/* ========== RESPONSIVE HOME ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .pais-bandera {
    height: 20px;
    width: auto;
    margin-right: 3px;
  }
  .pais-texto {
    font-size: 15px;
  }
  .btn-idioma {
    font-size: 13px !important;
    height: 25px !important;
  }
  .logo-centro {
    height: auto;
    width: 250px;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  header label {
    font-size: 16px;
    padding-bottom: 0px;
    margin-right: 10px;
  }
  header input {
    width: 230px;
    height: 35px;
    font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
  }
  .btn-buscar {
    font-size: 16px !important;
    margin-bottom: 15px !important;
  }
  .button-link {
    font-size: 12px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 30px;
    height: 35px;
    width: auto;
  }
  .tutorial-text {
    font-size: 12px;
    color: #000000;
  }
}

/* SMALL devices (old iPhones, 480px AND UP) */
@media only screen and (min-width: 480px) {
  .logo-centro {
    height: auto;
    width: 250px;
    margin-top: 70px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 16px;
    padding-bottom: 0px;
    margin-right: 10px;
  }
  header input {
    width: 230px;
    height: 35px;
    font-size: 14px;
    margin-right: 5px;
    padding-left: 10px;
  }
  .btn-buscar {
    font-size: 16px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 12px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 40px;
    height: 35px;
    width: auto;
  }
  .tutorial-text {
    font-size: 12px;
    color: #000000;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-centro {
    height: auto;
    width: 300px;
    margin-top: 80px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 20px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
  header input {
    width: 350px;
    height: 40px;
    font-size: 18px;
    /* color: black; */
    margin-right: 5px;
  }
  .btn-buscar {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 13px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 50px;
    height: 40px;
    width: auto;
  }
  .tutorial-text {
    font-size: 15px;
    color: #000000;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-centro {
    height: auto;
    width: 329px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 24px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
  header input {
    width: 350px;
    height: 40px;
    font-size: 20px;
    /* color: black; */
    margin-right: 5px;
  }
  .btn-buscar {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 15px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 60px;
    height: 45px;
    width: auto;
  }
  .tutorial-text {
    font-size: 18px;
    color: #000000;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-centro {
    height: auto;
    width: 329px;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  header label {
    font-size: 24px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
  header input {
    width: 350px;
    height: 40px;
    font-size: 20px;
    /* color: black; */
    margin-right: 5px;
  }
  .btn-buscar {
    font-size: 22px !important;
    margin-bottom: 10px !important;
  }
  .button-link {
    font-size: 15px;
    text-decoration: #fca728 underline;
    margin-left: 20px;
  }
  .logo-tutorial {
    margin-top: 60px;
    height: 45px;
    width: auto;
  }
  .tutorial-text {
    font-size: 18px;
    color: #000000;
  }
}
