/* ========== HOME PAGE ========== */

header {
  text-align: center;
}

.header-contenido {
  position: relative;
}

header input {
  background: #a79f9f40 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
  outline: none;
}

.click-link-text {
  color: #fca728;
}

.tutorial-link {
  text-align: right;
}

/* ========== RESPONSIVE HOME ========== */

/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .logo-centro {
    height: 120px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  header label {
    font-size: 14px;
  }

  .click-link {
    margin-top: 15px;
    font-size: 14px;
  }

  header input {
    width: 160px;
    height: 36px;
    padding: 10px;
    margin: 10px;
  }
  .logo-tutorial {
    margin-top: 50px;
    height: 45px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 10px;
  }
}

/* SMALL devices (old iPhones, 480px AND UP) */
@media only screen and (min-width: 480px) {
  .logo-centro {
    height: 150px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  header label {
    font-size: 18px;
  }

  .click-link {
    margin-top: 40px;
    font-size: 18px;
  }

  header input {
    width: 160px;
    height: 36px;
    padding: 10px;
    margin: 10px;
  }
  .logo-tutorial {
    margin-top: 80px;
    height: 50px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 15px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-centro {
    height: 225px;
    width: auto;
    margin-top: 150px;
    margin-bottom: 80px;
  }

  header label {
    font-size: 20px;
  }

  header input {
    width: 300px;
    height: 36px;
    margin: 5px;
    font-size: 18px;
    margin: 15px;
  }
  .click-link {
    margin-top: 50px;
    font-size: 20px;
  }
  .logo-tutorial {
    margin-top: 150px;
    height: 60px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 18px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-centro {
    height: 300px;
    width: auto;
    margin-top: 150px;
    margin-bottom: 100px;
  }

  header label {
    font-size: 25px;
  }

  header input {
    width: 325px;
    height: 36px;
    margin: 5px;
    font-size: 18px;
    margin: 15px;
  }
  .click-link {
    margin-top: 50px;
    font-size: 25px;
  }
  .logo-tutorial {
    margin-top: 150px;
    height: 60px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 18px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-centro {
    height: 300px;
    width: auto;
    margin-top: 130px;
    margin-bottom: 40px;
  }

  header label {
    font-size: 25px;
  }

  header input {
    width: 350px;
    height: 36px;
    margin: 5px;
    font-size: 18px;
    margin: 15px;
  }
  .click-link {
    margin-top: 40px;
    font-size: 25px;
  }
  .logo-tutorial {
    margin-top: 80px;
    height: 60px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 18px;
  }
}
