/* ========== HOME PAGE ========== */

header {
  text-align: center;
}

.header-contenido {
  position: relative;
}

/* ===== Boton de idiomas ===== */
.idiomas {
  margin: 5px;
  text-align: right;
}

.ingles,
.castellano {
  margin: 2px;
}

.ingles,
.castellano {
  border: none;
  background-color: transparent;
  outline: none;
}
.ingles:focus,
.castellano:focus {
  border: none;
  background-color: transparent;
  outline: none;
}
.eng-flag,
.esp-flag {
  height: 30px;
}

/* ===== Formulario para adquirir numero de parte ===== */

header input {
  background: #a79f9f40 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
  outline: none;
}

.click-link-text {
  color: #fca728;
}

/* ===== Modal "Click aqui" ===== */
.button-link {
  border: none;
  background-color: transparent;
  outline: none;
}

.button-link:focus {
  border: none;
  background-color: transparent;
  outline: none;
}

.modal-title {
  color: #fca728;
}

/* ===== Icono Tutorial ===== */
.tutorial-link {
  text-align: center;
}

/* ========== RESPONSIVE HOME ========== */

/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .logo-centro {
    height: 120px;
    width: auto;
    margin-top: 50px;
    margin-bottom: 40px;
  }

  header label {
    font-size: 18px;
  }

  header input {
    width: 300px;
    height: 36px;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
  }
  .click-link {
    margin-top: 20px;
    font-size: 15px;
  }
  .logo-tutorial {
    margin-top: 40px;
    height: 40px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 15px;
  }
}

/* SMALL devices (old iPhones, 480px AND UP) */
@media only screen and (min-width: 480px) {
  .logo-centro {
    height: 160px;
    width: auto;
    margin-top: 120px;
    margin-bottom: 40px;
  }

  header label {
    font-size: 20px;
  }

  header input {
    width: 300px;
    height: 36px;
    padding: 10px;
    font-size: 18px;
    margin: 15px;
  }
  .click-link {
    font-size: 17px;
  }
  .logo-tutorial {
    margin-top: 80px;
    height: 60px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 18px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .logo-centro {
    height: 200px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  header label {
    font-size: 20px;
  }

  header input {
    width: 350px;
    height: 36px;
    font-size: 18px;

    margin: 20px;
    margin-top: 12px;
  }
  .click-link {
    font-size: 16px;
  }
  .logo-tutorial {
    margin-top: 80px;
    height: 50px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 16px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .logo-centro {
    height: 220px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  header label {
    font-size: 20px;
  }

  header input {
    width: 350px;
    height: 36px;
    font-size: 18px;

    margin: 20px;
    margin-top: 12px;
  }
  .click-link {
    font-size: 16px;
  }
  .logo-tutorial {
    margin-top: 80px;
    height: 50px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 16px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .logo-centro {
    height: 220px;
    width: auto;
    margin-top: 100px;
    margin-bottom: 40px;
  }

  header label {
    font-size: 20px;
  }

  header input {
    width: 350px;
    height: 36px;
    font-size: 18px;

    margin: 20px;
    margin-top: 12px;
  }
  .click-link {
    font-size: 16px;
  }
  .logo-tutorial {
    margin-top: 80px;
    height: 50px;
    width: auto;
  }
  .tutorial-text {
    color: #312e2e;
    font-size: 16px;
  }
}
