/* *************************************** */
/* ===== TUTORIAL ===== */
.tutorial .row {
  margin-bottom: 20px !important;
}
.tutorial-subtitulo {
  margin-bottom: 50px;
}
.tutorial p {
  font-size: 20px;
}
.tutorial-contenido span {
  color: #fca728;
  font-size: 15px;
}
.tutorial-enlace {
  color: #fca728;
}
.tutorial-enlace:hover {
  text-decoration: #fca728 underline;
}
.logo-video {
  float: right;
  padding-right: 40px;
}
.texto-logo-tutorial {
  float: left;
  padding-left: 40px;
}
.tutorial-video {
  display: flex;
  float: inline-start;
}
.tutorial-video-texto span {
  font-size: 120px;
  color: #fca728;
}

/* ========== RESPONSIVE TUTORIAL ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .tutorial-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .tutorial-subtitle {
    padding-bottom: 20px;
  }
  .tutorial-contenido .col-sm {
    padding-bottom: 40px;
  }
  .logo-video {
    height: 35px;
    width: auto;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .tutorial-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .tutorial-subtitulo {
    margin-bottom: 50px;
  }
}
