/* ========== CSS NAVBAR ========== */

.nav-link:hover {
  color: #fca728 !important;
}

/* ========== RESPONSIVE NAVBAR ========== */
/* Extra small devices (less than 480px) */
@media only screen and (max-width: 480px) {
  nav img {
    padding-left: 15px;
    height: 56px;
    width: auto;
  }
  nav h4 {
    font-size: 18px;
  }
}

/* Small devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  nav img {
    padding-left: 15px;
    height: 56px;
    width: auto;
  }
  nav h4 {
    font-size: 18px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  nav img {
    padding-left: 15px;
    height: 56px;
    width: auto;
  }
  nav h4 {
    font-size: 18px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  nav img {
    padding-left: 15px;
    height: 56px;
    width: auto;
  }
  nav h4 {
    font-size: 18px;
  }
  .btn {
    font-size: 16px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  nav img {
    height: 56px;
    width: auto;
  }
  .navbar-enlace {
    font-size: 20px;
    margin-right: 30px;
  }
  .btn {
    font-size: 20px !important;
  }
  .btn-texto {
    font-size: 22px;
  }
}
