/* ===== PAIS ===== */
.pais-idioma {
  margin-top: 15px;
}
.pais-bandera {
  height: 25px;
  width: auto;
  margin-right: 5px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
}
.pais-texto {
  font-size: 20px;
}
