/* ========== CONTACTO CSS ========== */

.contacto-title h1 {
  color: #fca728;
  font-weight: bolder;
  text-align: right;
}

.contacto-contenido .row {
  text-align: center;
}

.contacto-texto {
  padding-bottom: 40px;
}

.contacto-grupo {
  margin-bottom: 40px !important;
}

.contacto-contenido h4 {
  padding-top: 10px;
  font-size: 25px;
}

.contacto-email {
  text-decoration: underline;
  font-size: 18px;
}

.contacto-telefono {
  color: black;
  font-size: 18px;
}

/* ========== RESPONSIVE HOME ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .contacto-title h1 {
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .contacto-contenido .col-md {
    padding-bottom: 30px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .contacto-title h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contacto-title h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contacto-title h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contacto-title h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}
