/* ========== RESPONSIVE TUTORIAL ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .tutorial-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .tutorial-subtitle {
    padding-bottom: 20px;
  }
  .tutorial-contenido .col-sm {
    padding-bottom: 40px;
  }
  .logo-video {
    height: 35px;
    width: auto;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .tutorial-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
    margin-bottom: 40px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 50px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .tutorial-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    margin-bottom: 60px;
  }
  .tutorial-subtitulo {
    margin-bottom: 50px;
  }
}
