/* ========== HACEMOS CSS ========== */

.hacemos-title h1 {
  color: #fca728;
  font-weight: 700;
  text-align: right;
}

/* ========== RESPONSIVE TEMPLATE ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .hacemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
  .hacemos-texto {
    font-size: 13px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .hacemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hacemos-title h1 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .hacemos-texto {
    font-size: 18px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hacemos-title h1 {
    font-size: 60px;
    padding-top: 100px;
    padding-bottom: 200px;
  }
  .hacemos-texto {
    font-size: 20px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hacemos-title h1 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .hacemos-texto {
    font-size: 25px;
  }
}
