/* ========== RESPONSIVE HACEMOS CSS ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .hacemos-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 30px;
  }
  .hacemos-texto {
    font-size: 12px;
  }
  .dax-video {
    margin-top: 20px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .hacemos-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .hacemos-texto {
    font-size: 16px;
  }
  .dax-video {
    margin-top: 40px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hacemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  .hacemos-texto {
    font-size: 18px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hacemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .hacemos-texto {
    font-size: 20px;
    padding-right: 20px;
    margin-right: 20px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hacemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 100px;
  }
  .hacemos-texto {
    font-size: 20px;
    padding: 40px;
  }
}
