/* *************************************** */
/* ===== GLOBAL CSS ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  /* background-color: whitesmoke; */
}
html,
body {
  height: 100vh;
  width: 100%;
  font-size: 20px;
  font-family: 'Ubuntu', 'Roboto' sans-serif;
  display: inline-block;
  text-rendering: optimizeSpeed;
}

/* ===== texto ===== */
h1 {
  color: #fca728;
  font-weight: bolder;
  text-align: center;
}

/* ===== navbar ===== */
.nav-link:hover {
  color: #fca728 !important;
}

/* ===== button ===== */
.btn {
  border-radius: 20px !important;
  border: none !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #fca728 !important;
  color: #000000 !important;
  margin: 5px !important;
  padding: 3px 10px 3px 10px !important;
}
.btn:hover {
  background-color: #c9c5c0 !important;
}
.btn-idioma:hover {
  background-color: #fca728ab !important;
}

/* *************************************** */
/* ===== SPINNER ===== */
.spinner-title h2 {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  margin-top: 60px;
}
.spinner-wrapper {
  color: #fca728;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 40%;
}

/* *************************************** */
/* ===== MODAL CONTENT ===== */
/* ===== modal login/signup ===== */
.modal-logo img {
  width: 200px;
  height: auto;
}
.form-group {
  margin: 15px;
}
.modal-body input {
  width: 250px;
  height: 38px;
  font-size: 18px;
  background: #d1c5c540 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
  padding: 10px;
  margin: 5px;
  outline: none;
}
.modal-body select {
  width: 250px;
  height: 38px;
  font-size: 18px;
  background: #d1c5c540 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 50px;
  opacity: 1;
  border: 0;
  padding: 10px;
  margin: 5px;
  outline: none;
}
.modal-body h4 {
  color: #fca728;
  text-align: center;
}
.enlace-form {
  text-align: center;
}
.boton-form {
  text-align: center;
  margin-top: 10px;
}
.me-olvide {
  color: #fca728;
  text-decoration: underline;
}
.pointer {
  cursor: pointer;
}

/* ===== modal noparte ===== */
.modal-title {
  margin-bottom: 20px;
}
.que-hacer-button {
  height: 120px;
  width: 150px;
  border-radius: 20px;
  font-size: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.botones {
  text-align: center;
}
.icon-video {
  margin-top: 10px;
}
