/* ===== GLOBAL CSS VALUES ===== */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  /* background-color: whitesmoke; */
}
html,
body {
  height: 100vh;
  width: 100%;
  font-size: 20px;
  font-family: 'Ubuntu', 'Roboto' sans-serif;
  display: inline-block;
  text-rendering: optimizeSpeed;
}

/* ===== TEXTO ===== */
h1 {
  color: #fca728;
  font-weight: bolder;
  text-align: right;
}

/* ===== HOMEPAGE ===== */
header {
  position: relative;
}
.header-contenido {
  text-align: center;
}

/* ===== NAVBAR ===== */
.nav-link:hover {
  color: #fca728 !important;
}

/* ===== BUTTON ===== */
.btn {
  border-radius: 20px !important;
  border: none !important;
  /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important; */
  background-color: #fca728 !important;
  color: #000000 !important;
  margin: 5px !important;
  padding: 3px 10px 3px 10px !important;
}

.btn:hover {
  background-color: #c9c5c0 !important;
}

.btn-idioma:hover {
  background-color: #fca728ab !important;
}

/* ========== RESPONSIVE TEMPLATE ========== */
/* EXTRA SMALL DEVICES (less than 480px) */
@media only screen and (max-width: 480px) {
  /* Values go here... */
}

/* SMALL DEVICES (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  /* Values go here... */
}

/* MEDIUM DEVICES (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Values go here... */
}

/* LARGE DEVICES (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Values go here... */
}

/* EXTRA LARGE DEVICES (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Values go here... */
}
