* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  /* background-color: whitesmoke; */
}

html,
body {
  height: 100vh;
  width: 100%;
  font-size: 15px;
  font-family: 'Ubuntu', 'Roboto' sans-serif;
  display: inline-block;
  text-rendering: optimizeSpeed;
}

/* ===== Button ===== */
.btn {
  width: 91px !important;
  height: 36px !important;
  font-size: 18px !important;
  border-radius: 35px !important;
  border: none !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  background-color: #fca728 !important;
  color: #312e2e !important;
}

.btn:hover {
  background-color: #c9c5c0 !important;
}

/* ===== MODAL ===== */
.modal .modal-content {
  border-radius: 40px;
}

/* ========== RESPONSIVE TEMPLATE ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  /* Values go here... */
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  /* Values go here... */
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* Values go here... */
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* Values go here... */
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* Values go here... */
}
