/* ========== RESPONSIVE TEMPLATE ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .ofrecemos-titulo h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ofrecemos-contenido .col-sm {
    padding-bottom: 30px;
  }
  .ofrecemos-opciones {
    margin-bottom: 0px !important;
  }
  .ofrecemos-contenido .col {
    padding-bottom: 30px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .ofrecemos-titulo h1 {
    font-size: 50px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 60px 0px;
  }
  .ofrecemos-contenido .col {
    padding-bottom: 30px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ofrecemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ofrecemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ofrecemos-titulo h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}
