/* ========== OFRECEMOS CSS ========== */

.ofrecemos-title h1 {
  color: #fca728;
  font-weight: 700;
  text-align: right;
}

.ofrecemos-contenido .row {
  text-align: center;
}

.ofrecemos-contenido span {
  color: #fca728;
}

/* ========== RESPONSIVE TEMPLATE ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .ofrecemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
  .ofrecemos-contenido h4 {
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ofrecemos-contenido-big img {
    height: 100px;
    width: auto;
  }
  .ofrecemos-contenido .col-sm {
    padding-bottom: 30px;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .ofrecemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ofrecemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ofrecemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ofrecemos-title h1 {
    font-size: 30px;
    padding-top: 30px;
  }
}
