/* ========== OFRECEMOS CSS ========== */

.ofrecemos-title h1 {
  color: #fca728;
  font-weight: bolder;
  text-align: right;
}

.ofrecemos-contenido h4 {
  text-align: left;
}

.ofrecemos-contenido p {
  font-size: 15px;
}

.ofrecemos-contenido .row {
  text-align: center;
}

.ofrecemos-contenido span {
  color: #fca728;
}

.ofrecemos-opciones {
  margin-bottom: 40px !important;
}
.ofrecemos-icono {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ofrecemos-texto {
  text-align: left;
}

/* ========== RESPONSIVE TEMPLATE ========== */
/* EXTRA SMALL devices (less than 480px) */
@media only screen and (max-width: 480px) {
  .ofrecemos-title h1 {
    font-size: 35px;
    padding-top: 30px;
  }
  .ofrecemos-contenido h4 {
    font-size: 22px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .ofrecemos-contenido .col-sm {
    padding-bottom: 30px;
  }
  .ofrecemos-opciones {
    margin-bottom: 0px !important;
  }
}

/* SMALL devices (old iPhones, 480px and up) */
@media only screen and (min-width: 480px) {
  .ofrecemos-title h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}

/* MEDIUM devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .ofrecemos-title h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}

/* LARGE devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .ofrecemos-title h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}

/* EXTRA LARGE devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .ofrecemos-title h1 {
    font-size: 60px;
    padding-top: 20px;
  }
  .ofrecemos-contenido h4 {
    margin: 40px 0px 100px 0px;
  }
}
